.topHeader{
    background-color: papayawhip;
    width:100% !important;
    height: 150px;
    margin-bottom: 20px;
    padding-top:50px;
    text-align: center;
}

.container{

}



.exText{
    color: grey;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;

}

#savings {
    color: #8c8c8c;
    background-color: #84c6ff;

}

#savings:hover{
    background-color: white;
}

hr{
    background-color:  papayawhip;
}
